ok_state_forms*.*
*/*ok_state_forms*.*
ok_state_forms.zip
ok_state_forms.zip.bak
ok_state_forms-v0.1.0.zip
*/ok_state_forms-v0.1.0.zip
*.DS_STore
*/*.DS_Store
**/*.DS_Store
**/**.DS_Store
port/*
queries/*
dist
dist/*
