<?xml version="1.1" encoding="UTF-8"?>
<plugin xmlns="http://plugin.powerschool.pearson.com"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd"
	name="OK State Forms"
	version="0.1.0.0"
	description="Oklahoma State Reporting Forms">

	<publisher name="Joseph Zuvanich">
		<contact email="devteam@tulsaschools.org"/>
	</publisher>
</plugin>